<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="about.css" />
      </head>

<body >
  <h1><center id="about"> About Me</center></h1>
  <nav> <a href="../index.html"><h1>Back</h1></a></nav>
  <section>
    <center>
    <p id="Text"> Hi, I'm Hemanth S P currently studying  B.E (Artificail Intelligance And Machine Learning) at Jyothy Institute Of Technology.<br>
    This Project is to provide basic User-Interface and responsive webpage by implementing what I've learnt in Documentation.<br>
    ThankYou for visiting.
  </p>
      </center>
  </section>
</body>

</html>
