<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LoginPage</title>
    <link rel="stylesheet" type="text/css" href="s.css"/>
  </head>

  <body>
        <nav>
          <ul>
            <li><a href="../index.html">Back</a></li>
          </ul>
        </nav>
    <center>
      <form action="URL" method="get|post">
        <h2>Login</h2>
        <label>UserName</label
        ><input type="text" name="name" placeholder="Enter name" />
        <br />
        <br />
        <label>Password</label
        ><input type="password" name="password" placeholder="Enter password" />
        <br />
        <br />
        <button>Submit</button>
      </form>
    </center>
  </body>
</html>
