body{
    background-color: lightblue;
}

input{
    width: 200px;
    height: 25px;
    margin: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* aligning input box   */
.group{
    padding: 2px;
    margin-right: -40px;
}
/*
#ph{
    margin-right: 70px;
}

*/
#id{
    /* formating Phone number "input box" */
    margin-right: 35px;
}

.Form{
    background-color: white;
    /* editing sign in page to center */
    margin-top: 300px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-right: 600px;
    margin-left: 600px;
    /* Adding Boxes for signIn form */
    box-shadow: 10px 10px 5px black;
    border-radius: 30px;

    position:-webkit-sticky;
    display:-moz-grid-line;

}

.submit{
    margin-left: 30px;
    border-radius: 50px;
}

.submit:hover, submit:focus{
    position: none;
    background-color: darkblue;
    color: white;
    margin-left: 20px;
}
