<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LoginPage</title>
    <link rel="stylesheet" type="text/css" href="s.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="../index.html">Back</a></li>
      </ul>
    </nav>
    <div class="form-container">
      <form action="URL" method="post">
        <h2>Login</h2>
        <div class="input-group">
          <label for="username">UserName</label>
          <input
            type="text"
            id="username"
            name="name"
            placeholder="Enter name"
            required
          />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter password"
            required
          />
        </div>
        <button type="submit" class="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
