<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignIn</title>
    <link rel="stylesheet" type="text/css" href="s.css" />
  </head>

  <body>
    <!--  <meta http-equiv="refresh" content="3" />  -->
    <nav>
      <a href="../index.html" ><strong style="margin-top: 100%;"> Back </strong> </a>
    </nav>
    <div class="Form">
      <center>
        <form action="URL" method="post">
          <h2>Sign in</h2>
          <br />
          <label>First Name</label>
          <input
            type="text"
            name="fName"
            value=""
            placeholder="Enter First Name"
          />
          <br /><br />
          <label>Last Name</label>
          <input
            type="text"
            name="lName"
            value=""
            placeholder="Enter Second Name"
          /><br /><br />
          <label>Email</label>
          <input
            class="group"
            type="email"
            name="eMail"
            value=""
            placeholder="example@gmail.com"
          />
          <br />
          <br />
          <label id="ph">Phone Number</label>
          <input
            type="tel"
            class="group"
            id="id"
            name="pNumber"
            value=""
            placeholder="+91 xxxxx xxxxx"
          />
          <br />
          <br />
          <input class="submit" type="submit" value="submit" />
        </form>
      </center>
    </div>
  </body>
</html>
